*.pyc
.hg*
coords.txt
space_bak.txt
space_test2.txt
hardware/SpeederOne/ProgramFiles
hardware/SpeederOne/Windows
*.pxm
tca/local
AutoSave_dagor_tubus_v3.skp
dagor_tubus_v3~.skp

ASCOM/Projects/**/.vs
ASCOM/Projects/**/bin/Debug
ASCOM/Projects/**/obj/x86/Debug
ASCOM/Projects/**/bin/Debug
ASCOM/Projects/**/obj/Debug

.idea/*

*.cache
hardware/dagor_fans/firmware/.travis.yml
hardware/dagor_fans/firmware/platformio.ini
.flow
tca/.idea
ASCOM/Projects/dagor_mount/packages/Newtonsoft.Json.10.0.3/
hardware/switches/.pioenvs
.clang_complete
.gcc-flags.json
hardware/focus/firmware/.pio
.DS_Store
